*.Zip
Project Outputs for 工程/Design Rule Check - PCB.html
Project Outputs for 工程/Design Rule Check - PCB.drc
__Previews/原理图.SchDocPreview
工程.PrjPCBStructure
*.PrjPCBStructure
*.SchDocPreview
*.drc
*.html
*.PcbDocPreview
*.htm
Text_V1.0.rar
Text_V1.0/
SmartBracelet.rar
分模块/核心/MCU.pdf
分模块/核心/核心_工程.OutJob
